# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo

# 歌曲封面文件夹
public/assets/img/cover.png/*.png
public/assets/img/cover/*.jpg
public/assets/img/cover.new
public/assets/img/cover.old
public/assets/img/cover.old
public/assets/img/jacket/*.png

# npm 的一点配置
.npmrc

# 处理歌单的东西
aaa