/**
 * 底栏 Footer
 */
.main-footer {
  position: relative;
  z-index: 100;
  margin-top: 100px;
  padding: 50px 50px 200px;
  background: #fff;
  box-shadow: 0 0 9px 1px rgba(1, 45, 123, .7);
  ;
  background-image: url("../img/prism/bg_pc.png");
  background-repeat: repeat-x;
  background-position: 0 100%;
}

.main-footer-inner {
  color: #333;
  font-size: 14px;
  width: 100%;
  max-width: 1000px;
  margin: auto;
}