@mixin txsh($color: #3585fe, $width: 2px) {
  text-shadow: 0 $width $width $color, $width 0 $width $color,
    ($width * -1) 0 $width $color, 0 ($width * -1) $width $color;
}
@mixin bxsh($bdc: #319df8, $bgc: #cff1eb, $backShadow: #1c6fb0) {
  background-color: $bgc;
  box-shadow: 0 0 0 3px $bdc, 0 0 0 6px #fff, 0 0 0 9px rgba(#fff, 0.4),
    0 0 5px 5px $backShadow;
}

@mixin max-screen($res) {
  @media only screen and (max-width: $res) {
    @content;
  }
}

@mixin min-screen($res) {
  @media only screen and (min-width: $res) {
    @content;
  }
}

@mixin min-max-screen($min, $max) {
  @media only screen and (min-width: $min) and (max-width: $max) {
    @content;
  }
}

@mixin input-label(
  $bdc: #ccc,
  $bdc-hover: var(--color-border),
  $tc: #333,
  $tc-checked: #fff
) {
  .inner {
    color: $tc;
    border-color: $bdc;
    &:hover {
      border-color: $bdc-hover;
    }
  }
  input:checked ~ .inner {
    color: $tc-checked;
    background-color: $bdc-hover;
    border-color: $bdc-hover;
  }
}