$color-B: #ccffcc;
$color-A: #ffdd99;
$color-E: #ffccf7;
$color-M: #eeccff;
$color-R: #e9e6ff;

$color-B-dark: #6fd43d;
$color-A-dark: #f8b709;
$color-E-dark: #ff818d;
$color-M-dark: #9f51dc;
$color-R-dark: #c346e7;

$color-bg-uni: #319df8;
$color-border-uni: #2b2ea3;

$color-bg-fes: #b98bf8;
$color-border-fes: #6f34b0;